.app-container{
    display: flex;
}

.content{
    width: 100%;
}

.sidebar{
    min-height: 100vh;
    
}

.post-heading{
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0px;
    letter-spacing: 2px;
}

.post-container{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 25px;
    justify-content: center;
}

.hashtags-section span{
    margin: 0px 2px;
}

.delete-icon{
    font-size: 15px !important;
    cursor: pointer;
}

.post-reactions{
    margin: 20px 0px 10px;
}

.post-form{
    width: 50rem;
    margin: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
}